{% extends 'base.html.twig' %}

{% block title %}Modifier le type{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier le type</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="mt-3 d-flex gap-2">
        <a href="{{ path('app_type_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ include('type/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
