{% extends 'base.html.twig' %}

{% block title %}Modifier le type{% endblock %}

{% block body %}
<section class="edit-page">
    <div class="edit-page__card">
        <div class="edit-page__header">
            <h1 class="edit-page__title">Modifier le type</h1>
            <p class="edit-page__subtitle">Mettez à jour le type de jeu en conservant la cohérence.</p>
        </div>

        {{ include('type/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="edit-page__actions mt-4 d-flex flex-wrap gap-2">
            <a href="{{ path('app_type_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
            {{ include('type/_delete_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
