{% extends 'base.html.twig' %}

{% block title %}Créer un type{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau type</h1>

    {{ include('type/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_type_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}
