{% extends 'base.html.twig' %}

{% block title %}Edit Parametre{% endblock %}

{% block body %}
<section class="enigme-page">
    <div class="enigme-page__card">
        <div class="enigme-page__header">
            <h1 class="enigme-page__title">Modifier le paramètre</h1>
            <p class="enigme-page__subtitle">Affinez ce paramètre puis sauvegardez la mise à jour.</p>
        </div>

        {{ include('parametre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="enigme-page__actions mt-4 d-flex flex-wrap gap-2">
            <a href="{{ path('app_parametre_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
            {{ include('parametre/_delete_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
