{% extends 'base.html.twig' %}

{% block title %}Paramétrage{% endblock %}

{% block body %}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h1 class="h3 mb-0 text-white">Paramétrage</h1>
        
    </div>
    
    </div>
</div>
{% endblock %}
