{% extends 'base.html.twig' %}

{% block title %}New Parametre{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau paramètre</h1>

    {{ include('parametre/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_parametre_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}
