{% extends 'base.html.twig' %}

{% block title %}Nouveau paramètre{% endblock %}

{% block body %}
<section class="enigme-page">
    <div class="enigme-page__card">
        <div class="enigme-page__header">
            <h1 class="enigme-page__title">Créer un nouveau paramètre</h1>
            <p class="enigme-page__subtitle">Ajoutez un paramètre global pour affiner les regles du jeu.</p>
        </div>

        {{ include('parametre/_form.html.twig') }}

        <div class="enigme-page__actions mt-4 d-flex flex-wrap gap-2">
            <a href="{{ path('app_parametre_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
        </div>
    </div>
</section>
{% endblock %}
