<form method="post" action="{{ path('app_admin_delete') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'historique des équipes terminées ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_finished_games') }}">
    <button type="submit" class="btn btn-sm btn-outline-danger w-100">Supprimer l'historique des parties terminées</button>
</form>
