{% extends 'base.html.twig' %}

{% block title %}Parametres index{% endblock %}

{% block body %}
    <h1>Parametres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>
                    <a href="{{ path('app_parametres_show', {'id': parametre.id}) }}">show</a>
                    <a href="{{ path('app_parametres_edit', {'id': parametre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parametres_new') }}">Create new</a>
{% endblock %}
