{% extends 'base.html.twig' %}

{% block title %}Parametres{% endblock %}

{% block body %}
    <h1>Parametres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametre.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_parametres_index') }}">back to list</a>

    <a href="{{ path('app_parametres_edit', {'id': parametre.id}) }}">edit</a>

    {{ include('parametres/_delete_form.html.twig') }}
{% endblock %}
