{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block body %}
    <div class="text-center mt-10">
        <h1 class="text-4xl font-bold mb-4">Bienvenue sur Enigmatik</h1>
        <p>Découvrez des énigmes sur l'informatique et testez vos connaissances</p>
    </div>
    <div class="flex justify-center mt-10 space-x-4">
        <a href="{{ path('app_equipe_créer') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Créez votre équipe
        </a>
    </div>
{% endblock %}