{% extends 'base.html.twig' %}

{% block title %}Modifier l'avatar{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier l'avatar</h1>

    {{ include('avatar/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="mt-3 d-flex gap-2">
        <a href="{{ path('app_avatar_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ include('avatar/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
