{% extends 'base.html.twig' %}

{% block title %}Création d'équipe{% endblock %}

{% block body %}
    <h1>Créer votre équipe.</h1>

    {{ include('equipe/_form.html.twig') }}
<a href="{{ path('app_accueil') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
