{% extends 'base.html.twig' %}

{% block title %}Créer une équipe{% endblock %}

{% block body %}
    <h1>Créer votre équipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('app_index') }}">Retour</a>
{% endblock %}
