{% extends 'base.html.twig' %}

{% block title %}Nouvelle vignette{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer une nouvelle vignette</h1>

    {{ include('vignette/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_vignette_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}
