{% extends 'base.html.twig' %}

{% block title %}Modifier une enigme{% endblock %}

{% block body %}
    <h1>Modifier une enigme</h1>

    {{ include('enigme/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_enigme_index') }}">Retour à la liste</a>

    {{ include('enigme/_delete_form.html.twig') }}
{% endblock %}
