{% extends 'base.html.twig' %}

{% block title %}Modifier une enigme{% endblock %}

{% block body %}
<section class="enigme-page enigme-page--form">
    <div class="enigme-page__card">
        <div class="enigme-page__header">
            <h1 class="enigme-page__title">Modifier une énigme</h1>
            <p class="enigme-page__subtitle">Ajustez les paramètres de l'énigme puis enregistrez.</p>
        </div>

        {{ include('enigme/_form.html.twig', {
            'button_label': 'Mettre à jour',
            'back_path': path('app_enigme_index')
        }) }}

        <div class="enigme-page__actions mt-3 d-flex flex-wrap gap-2 justify-content-end">
            {{ include('enigme/_delete_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
