{% extends 'base.html.twig' %}

{% block title %}Nouvelle énigme{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer une nouvelle énigme</h1>

    {{ include('enigme/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_enigme_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}
