{% extends 'base.html.twig' %}

{% block title %}Nouvelle énigme{% endblock %}

{% block body %}
<section class="enigme-page enigme-page--form">
    <div class="enigme-page__card">
        <div class="enigme-page__header">
            <h1 class="enigme-page__title">Créer une nouvelle énigme</h1>
            <p class="enigme-page__subtitle">Renseignez les informations principales puis configurez le mode de réponse.</p>
        </div>

        {{ include('enigme/_form.html.twig', {'back_path': path('app_enigme_index')}) }}
    </div>
</section>
{% endblock %}
