<form
    method="post"
    action="{{ path('app_enigme_delete_all') }}"
    onsubmit="
        return confirm(
            'Êtes-vous sûr de vouloir supprimer toutes les énigmes ?',
        );
    "
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete_enigme_all') }}"
    />
    <button type="submit" class="btn btn-sm btn-outline-danger w-100">
        Supprimer toutes les énigmes
    </button>
</form>
