{% extends 'base.html.twig' %}

{% block title %}Page d'administration{% endblock %}

{% block body %}
    <h1>Page d'administration</h1>

        <p>La page qui paramètre le logiciel</p>

    <a href="{{ path('app_accueil') }}">Retour</a>
{% endblock %}