{% extends 'base.html.twig' %}

{% block title %}Page des professeurs{% endblock %}

{% block body %}
    <h1>Pages des professeurs</h1>

    

    <a href="{{ path('app_accueil') }}">Retour</a>
{% endblock %}